[user]
  name = Juan Alonso
  email = juan@juanalonso.net

[alias]
  bl = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
  br = branch
  ca = commit -amf
  ci = commit
  co = checkout
  d = diff
  ls = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lp = log -p
  s = status

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  precomposeunicode = true
  quotepath = false

[push]
  default = matching
