.DS_Store

*.swp
.vim/.netrwhist
.vim/.viminfo
.vim/plugged
.vim/plugin/unicycle.vim
.vim/spell

public/storage
public/cache
public/storage-dev
public/storage-test
tmp

zsh/.zsh_history
zsh/.zcompdump
zsh/.zsh_sessions
