[user]
  name = Juan Alonso
  email = juan@juan.al

[alias]
  bl = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
  br = branch
  ca = commit -amf
  ci = commit
  co = checkout
  d = diff
  ls = log --pretty=format:\"%h %ad | %s%d %as [%an]\" --graph --date=format:\"%Y-%m-%d %H:%M\"
  lp = log -p
  s = status

[diff]
  tool = vimdiff
  wsErrorHighlight = all

[difftool]
  prompt = false

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  precomposeunicode = true
  quotepath = false

[push]
  default = matching
[pull]
	rebase = true
[credential]
	helper = store
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
