[alias]
  bl = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
  br = branch
  ca = commit -amf
  ci = commit
  co = checkout
  d = diff
  ls = log --pretty=format:\"%h %ad | %s%d %as [%an]\" --graph --date=format:\"%Y-%m-%d %H:%M\"
  lp = log -p
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  logline = l
  s = status
  fpush = push

[branch]
  sort = -committerdate

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[core]
  autocrlf = input
  excludesfile = ~/.dotfiles/.gitignore
  precomposeunicode = true
  quotepath = false

[credential]
  helper = store
  helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
  useHttpPath = true

[commit]
  gpgsign = true

[diff]
  tool = vimdiff
  wsErrorHighlight = all

[difftool]
  prompt = false

[gpg]
  format = ssh

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  default = current

[rerere]
  enabled = true
  autoUpdate = true
