.DS_Store
claude-tasks/
.claude/

.env
.venv

__pycache__

*.pyc
*.swp
.vim/.netrwhist
.vim/.viminfo
.vim/plugged
.vim/plugin/unicycle.vim
.vim/spell

public/storage
public/cache
public/storage-dev
public/storage-test
tmp

zsh/.zcompdump
zsh/.zcompdump.*
zsh/.zsh_history
zsh/.zsh_sessions

rofi/config.rasi
.zcompcache/

.claude/settings.json

